@import '../../../css/base.scss';

.home__section {
    margin-top: 12px;
    &__header {
        height: 40px;
        i {
            margin-right: 16px;
            font-size: 32px;
            color: $redColor;
        }
        h1 {
            font-size: 24px;
            color: $textColor;
            margin-bottom: 0;
        }
    }
    &__content {
        position: relative;
        margin-top: 10px;
        height: 410px;
    }
    &__leftImgage {
        // position: absolute;
        // left: 0;
        // top: 0;
        // z-index: 9;
        width: 20%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__wrap {
        .home__section__listDemo {
            width: 80%;
            &__noProductMessage {
                margin-top: 200px;
                text-align: center;
            }
        }
    }
}
.slick-next, .slick-prev {
    z-index: 10;
}
.slick-next::before, .slick-prev::before {
    color: red !important;
    font-size: 50px !important;
}