@import '../../css/base.scss';

.blogs {
    background-color: white;
    padding-bottom: 40px;
    padding-top: 30px;
    &__list {
        width: 75%;
        padding-right: 8px;
        padding-left: 0;
        display: flex;
        margin: 0 -8px;
        &__item {
            position: relative;
            flex: 1;
            min-height: 35px;
            padding: 0 8px;
            &__thumb {
                &__img {
                    width: 100%;
                }
            }
            &__content {
                padding: 8px;
                @include borderDefault;
                border-top: none;
                a {
                    font-size: 16px;
                    color: #ff2d37;
                    line-height: 1.4;
                    &:hover {
                        color: $textColor !important;
                    }
                }
                &__desc {
                    font-family: 'Tahoma-mong';
                    color: $textColor;
                    line-height: 1.4;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    margin-top: 8px;
                }
            }
            &__time {
                position: absolute;
                top: 0;
                left: 0;
                padding: 8px;
                background-color: #ff2d37;
                color: white;
                .blogs__month {
                    text-align: center;
                    border-bottom: 1px solid white;
                }
                .blogs__date {
                    text-align: center;
                }
            }
        }
    }
}
.blogs__similar {
    width: 25%;
    padding-left: 8px;
    padding-right: 0;
    &__header {
        height: 48px;
        display: flex;
        background-color: #ff2d37;
        &__icon {
            display: inline-block;
            width: 60px;
            height: 100%;
            background-color: #bb0d0d !important;
            top: 0px;
            left: 0px;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
            background: url(//bizweb.dktcdn.net/100/364/158/themes/802198/assets/icon-car.png?1638764971580) no-repeat scroll 8px 14px;
        }
        &__text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            color: white;
        }
    }
    &__list {
        padding: 8px 16px 0 16px;
        @include borderDefault;
        border-top: none;
    }
    &__item {
        padding-bottom: 8px;
        padding-top: 8px;
        @include borderBtDefault;
        a { 
            font-family: 'Tahoma-mong';
            color: $textColor;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}
