@import '../../../../css/base.scss';

img {
  width: 100%;
}

.discount__banner {
  margin: 30px 0;
  transition: 0.5s;

  &:hover {
    opacity: 0.8;
  }
}

.product-sale {
  border: 1px solid #e5e5e5;
  margin-left: 10px!important;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }

  img {
    width: 100%;
  }

  .product__item {
    &_name {
      display: block;
      color: $textColor;
      font-size: 16px;
      margin-bottom: 12px;
      margin-top: 30px;
      text-transform: uppercase;
    }
    &_price {
      &--current {
          font-size: 20px;
          color: $textRed;
          margin-right: 12px;
      }
      &--old {
          font-size: 16px;
          color: $textBlur;
          text-decoration: line-through;
      }
  }
  }

  &__right {
    .btn__wrapper {
      margin-top: 10px;

      & > * {
        background-color: $textRed;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 3px;
      }
    }
  }
}