@import '../../../../css/base.scss';

.sortPagiBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px ;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 0 15px;
  &__count {
    font-family: 'Tahoma-mong';
    font-weight: 600;
  }
  &__row {
    display: flex;
    label {
      width: 80px;
      line-height: 35px;
      font-size: 14px;
      margin-right: 10px;
      margin-bottom: 0;
    }
    .pagiBar__list {
      position: relative;
      list-style: none;
      width: 200px;
      padding: 0;
      &__detail {
        font-family: "Tahoma-mong";
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        width: 80%;
        height: 100%;
        background-image: url(https://bizweb.dktcdn.net/100/364/158/themes/802198/assets/ico-selects.png);
        background-repeat: no-repeat;
        background-position: right 10px center;
        padding: 0 20px;
        line-height: 30px;
        border: 1px solid #cdcdcd;
        font-size: 14px;
        color: #333;
        &:hover > ul {
          opacity: 1;
          visibility: visible;
        }
        ul {
          position: absolute;
          border: 1px solid #cdcdcd;
          background: #fff;
          left: 0;
          right: 0;
          top: 110%;
          width: 100%;
          padding: 0;
          list-style: none;
          opacity: 0;
          visibility: hidden;
          &::before {
            content: '';
            width: 100%;
            height: 4px;
            position: absolute;
            top: -4px;
            left: 0;
          }
          li {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            display: list-item;
            &:hover{
              background-color: #cdcdcd;
            }
          }
        }
      }
    }
  }
}
