$textColor: #333;
$redColor: red;
$textBlur: #999;
$textRed: #ff2d37;
$bgColorBase: #f5f5f5;
@font-face {
    font-family: 'Tahoma';
    src: url('../assets/font/TAHOMAB0.TTF')
}
* {
    font-family: 'Tahoma';
}
.App {
    background-color: $bgColorBase;
}
a {
    text-decoration: none;
    &:hover {
        color: $textRed !important;
    }
}

body {
  background-color: #f8f8f8;
}

@mixin borderDefault {
    border: 1px solid #e5e5e5;
}
@mixin borderNone {
    border: 1px solid #fff;
}

@mixin flexBox($flex-direction: row, $align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

.slick-prev
{
    left: -50px;
}

.background-white {
  background-color: #ffffff;
}