$mainColor: #363636; 
$textColor: #333333;
$blackColor: #000000;
$whiteColor: #ffffff;
$redColor: #ff0000;
$blueColor: #0000ff;
$greenColor: #008000;
$borderDefault: 1px solid #ebebeb;
$navBackground: #f5f5f5;
$orderBackground: #fafafa;
$confirmBackground: #E6E8E9;
$accountColor: #0ed186;
$adminMainColor: #34302c;
