@import '../../../../css/base.scss';

.policy {
  &__imgContainer {
    border: 1px solid #ffffff;
    border-radius: 50%;
  }

  &__text {
    height: 60%;
    margin-left: 10px;

    h5 {
      text-transform: uppercase;
      color: $textColor;
      font-weight: bold;
      margin: 0;
    }

    p {
      color: $textBlur;
      margin: 0;
      font-size: 15px;
    }
  }
}