@import '../../../../css/base.scss';

.policy {
  &__imgContainer {
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  &__text {
    height: 60%;
    margin-left: 10px;
    h5 {
      font-family: "Tahoma";
      text-transform: uppercase;
      font-size: 18px;
      color: $textColor;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-family: "Tahoma-mong";
      font-size: 14px;
      color: $textBlur;
      margin: 0;
    }
  }
}