.navigation{
    position: relative;
    height: 180px;
    background-size: cover;
    background: url("https://bizweb.dktcdn.net/100/364/158/themes/802198/assets/bg-bcrum.jpg?1638764971580");
    padding: 60px 0;
    margin-bottom: 30px;
}
.navigation:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.title-page {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-link {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    color: red;
}
p{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.fa-chevron-right {
    padding: 0px 10px;
}